@mixin construct-body() {
	background-color: $body-bg;
	font-size: 16px;

	@if (lightness($body-bg) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin construct-navbar($navbar-bg) {
	width: 100%;
	display: block;
	height: $navbar-height;
	position: $navbar-position;
	line-height: $navbar-height;
	background-color: $navbar-bg;

	@if (lightness($navbar-bg) < 30) {
  		color: $text-white;
		
		.icon-bar {
  			background-color: $text-white;
  		}

	} @else {
  		color: $text-dark;

		.drawer:hover {
  				background-color: rgba(0,0,0,0.1);
  			}

  		.icon-bar {
  			background-color: $text-dark;
  		}
	}
}

@mixin construct-header($header-bg) {
	background: $header-bg;

	@if ($navbar-position == fixed) {
  		padding-top: (42vh-$navbar-height);
		margin-top: $navbar-height;	
	} @else {
  		padding-top: (42vh-$navbar-height);
	}

	@if (lightness($header-bg) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin construct-section($section-bg) {
	background-color: $section-bg;
	padding: 100px 0;
	display: block;

	@if (lightness($section-bg) < 30) {
  		color: $text-white;
	} @else {
  		color: $text-dark;
	}
}

@mixin construct-button($name, $color) {
	.btn-#{$name} {
		color: $color;
		border-color: $color;

		& a {
			color: inherit;
		}

		&:hover {
			color: white;
			background: $color;
			border-color: $color;
		}
	}
}