// COLORS

$red: #ff2e63;
$blue: #1e90ff;
$gray: #f7f7f7;
$green: #1B8057;
$orange: #FFB563;

$bg-dark: #252A34;
$bg-white: #f9f9f9;
$text-dark: $bg-dark;
$text-white: $bg-white;


// SETTINGS

$total-col:	12;
$color-theme: $blue;
$body-bg: $bg-white;
$navbar-bg: $bg-dark;
$navbar-height: 15vh;
$navbar-position:relative;

$mobile: 480px;
$tablet: 960px;
$notebook: 1200px;
$desktop: 1201px;