// COLORS

$red: #ff2e63;
$blue: #1e90ff;
$gray: #f7f7f7;
$green: #1B8057;
$orange: #FFB563;

$bg-dark: #252A34;
$bg-white: #f9f9f9;
$text-dark: $bg-dark;
$text-white: $bg-white;


// SETTINGS

$total-col:	12;
$color-theme: $blue;
$body-bg: $bg-white;
$navbar-bg: $bg-dark;
$navbar-height: 15vh;
$navbar-position:fixed;


// GRID LAYOUTS

$landing-page:		"header header header"
    				"main   main   main"
   					"footer footer footer"; 

$one-sidebar-right: "header header header"
    				"main   main   side-right"
   					"footer footer footer";

$one-sidebar-left: "header header header"
    				"side-left   main   main"
   					"footer footer footer";  					

$two-sidebars:		"header header header"
    				"side-left   main   side-right"
   					"footer footer footer";

$two-sidebars-right:"header header header"
    				"main   side-left   side-right"
   					"footer footer footer";

$two-sidebars-left:"header header header"
    				"side-left   side-right   main"
   					"footer footer footer";

$auto-row: auto;
   					

// BREAKPOINTS

$mobile: 480px;
$tablet: 960px;
$notebook: 1200px;
$desktop: 1201px;