@import "variables";
@import "base";
@import "mixins";
@import "modules/grid";
@import "modules/typo";
@import "modules/navbar";
@import "modules/buttons";
@import "modules/animations";
@import "modules/responsiveness";
@import "modules/font-awesome/style";

body {
    @include make-body($bg-white, 16px);
}

header {
	@include make-header($bg-white);

    & h3 {
        font-weight: 400;
    }
}

.navbar {
	@include make-navbar($bg-white);
}

// SECTIONS
// -------------------------------


#why, #examples {
    @include make-section($white);
}

#credits span {
    font-size: 0.9rem;
    color: rgba(0,0,0,.7);

    &:first-child:before,
    &:last-child:after {
        content: "";
    }

    &:after {
        content: " -";
        font-size: 0.7rem;
        vertical-align: text-bottom;
    }
}

#features, #header-getting-started {
    @include make-section($gray);
}

#get-started {
	@include make-section($gray);
    margin-bottom: 0;
}

#btc-address {
    font-weight: 100;
}


// BUTTONS
// ----------------------

@include make-button(default,$color-theme);
@include make-button(red,$red);
@include make-button(green,$emerald);
@include make-button(blue,$blue);
@include make-button(orange,$orange);
@include make-button(white,$white);

@include make-layout($two-sidebars);