@import "variables";
@import "base";
@import "mixins";
@import "modules/grid";
@import "modules/typo";
@import "modules/navbar";
@import "modules/buttons";
@import "modules/animations";
@import "modules/responsiveness";
@import "modules/font-awesome/style";

body {
    @include make-body($bg-white, 16px);
}

header {
	@include make-header($bg-dark);
    background-image: url(../img/bg-header.jpg);
    box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.3);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & h3 {
        font-weight: 400;
    }
}

.navbar {
	@include make-navbar($bg-dark);
}

// SECTIONS
// -------------------------------


#why, #examples {
    @include make-section($white);
}

#credits span {
    font-size: 0.9rem;
    color: rgba(255,255,255,.8);
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    &:first-child:before,
    &:last-child:after {
        content: "";
    }


    &:after {
        content: " -";
        font-size: 0.7rem;
        vertical-align: text-bottom;
    }
}

#features, #header-getting-started {
    @include make-section($gray);
}

#get-started {
	@include make-section($bg-dark);
	background-image: url(../img/bg-home.jpg);
    box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.3);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

aside, main {
    padding: 10px;
}

ol {
    & li {
        font-size: 1.1rem;
        font-weight: bold;
    }
}


// BUTTONS
// ----------------------

@include make-button(default,$color-theme);
@include make-button(red,$red);
@include make-button(green,$green);
@include make-button(blue,$blue);
@include make-button(orange,$orange);
@include make-button(white,$white);

@include make-layout($two-sidebars);