nav.navbar
      .container
        .brand Alpha
        .nav-menu.right
          ul
            li
              a(href='') Home
            li
              a(href='#why') About
            li
              a(href='#examples') Examples
            li
              a(href='') Contact
        button.drawer.right
          span.icon-bar
          span.icon-bar
          span.icon-bar