nav.navbar
  .container
      button.drawer.left
        span.icon-bar#bar1
        span.icon-bar#bar2
        span.icon-bar#bar3
      .brand Alpha
      .nav-menu.right
        ul
          li
            a(href='index.html') Home
          li
            a(href='#why') About
          li
            a(href='examples.html') Examples
          li
            a(href='mailto:eliabesajunior@gmail.com') Contact
.drawer-menu.hide-drawer
  ul
    li
      a(href='') Home
    li
      a(href='#why') About
    li
      a(href='/examples.html') Examples
    li
      a(href='') Contact