* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

img {
  border: 0; }

body {
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #252A34; }

a {
  color: #1e90ff;
  text-decoration: none; }

nav {
  list-style-type: none;
  display: inline; }

header {
  display: block; }

section {
  margin: 50px 0; }

button {
  outline: 0;
  border: 3px;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  transition: all .2s ease-in-out; }

hr {
  border: 1px solid currentColor;
  width: 100%;
  display: block; }

footer {
  bottom: 0;
  width: 100%;
  background: #252A34;
  padding: 10px 0;
  color: #f9f9f9; }

.full {
  width: 100%;
  height: 100vh;
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.center-block {
  margin-right: auto;
  margin-left: auto;
  display: block; }

.right {
  float: right; }

.left {
  float: left; }

.top-buffer {
  padding-top: 50px; }

.item {
  background-color: #252A34;
  color: #f9f9f9;
  padding: 10px; }

.container {
  width: 85vw;
  margin: 0 auto; }

.row {
  margin: 20px 0; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.col {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 10px; }

.no-gutter {
  padding: 0 !important;
  position: relative;
  min-height: 1px;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media (max-width: 480px) {
  .col {
    padding-left: 0;
    padding-right: 0; }
  .col-1 {
    width: 100%; }
  .col-2 {
    width: 100%; }
  .col-3 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  .col-7 {
    width: 100%; }
  .col-8 {
    width: 100%; }
  .col-9 {
    width: 100%; }
  .col-10 {
    width: 100%; }
  .col-11 {
    width: 100%; }
  .col-12 {
    width: 100%; } }

@media (min-width: 481px) and (max-width: 960px) {
  .col-1 {
    width: 50%; }
  .col:nth-child(2) {
    padding-right: 0; }
  .col:first-child {
    padding-left: 0; }
  .col:last-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  .col-2 {
    width: 50%; }
  .col:nth-child(2) {
    padding-right: 0; }
  .col:first-child {
    padding-left: 0; }
  .col:last-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  .col-3 {
    width: 50%; }
  .col:nth-child(2) {
    padding-right: 0; }
  .col:first-child {
    padding-left: 0; }
  .col:last-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  .col-4 {
    width: 50%; }
  .col:nth-child(2) {
    padding-right: 0; }
  .col:first-child {
    padding-left: 0; }
  .col:last-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
  .col-5 {
    padding-left: 0;
    padding-right: 0; }
  .col-5 {
    width: 100%; }
  .col-6 {
    padding-left: 0;
    padding-right: 0; }
  .col-6 {
    width: 100%; }
  .col-7 {
    padding-left: 0;
    padding-right: 0; }
  .col-7 {
    width: 100%; }
  .col-8 {
    padding-left: 0;
    padding-right: 0; }
  .col-8 {
    width: 100%; }
  .col-9 {
    padding-left: 0;
    padding-right: 0; }
  .col-9 {
    width: 100%; }
  .col-10 {
    padding-left: 0;
    padding-right: 0; }
  .col-10 {
    width: 100%; }
  .col-11 {
    padding-left: 0;
    padding-right: 0; }
  .col-11 {
    width: 100%; }
  .col-12 {
    padding-left: 0;
    padding-right: 0; }
  .col-12 {
    width: 100%; } }

@media (min-width: 481px) {
  .col:first-child {
    padding-left: 0; }
  .col:last-child {
    padding-right: 0; } }

span, p {
  font-size: 1.1rem; }

em {
  background-color: #efefef;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 3px; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-weight: 400;
  font-size: 1.5rem; }

.uppercase {
  text-transform: uppercase; }

.navbar {
  top: 0;
  z-index: 10; }

.navbar li, .nav-menu ul {
  display: inline; }

.nav-menu {
  font-family: sans-serif;
  display: inline; }

.nav-menu a {
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: 10px 20px; }
  .nav-menu a:hover {
    background: rgba(255, 255, 255, 0.1); }

.brand {
  font-size: 2em;
  font-weight: 600;
  display: inline; }

.drawer {
  width: 15vh;
  height: 15vh;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  display: none; }
  .drawer .icon-bar {
    background-color: #fff;
    display: block;
    width: 40px;
    height: 5px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto; }
    .drawer .icon-bar:first-child {
      margin-top: 0; }
  .drawer:hover, .drawer:active {
    background: rgba(255, 255, 255, 0.1); }

.btn {
  border: 2px solid currentColor;
  padding: 15px;
  padding-top: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px; }

.rounded {
  border-radius: 30px; }

@media (max-width: 960px) {
  html {
    font-size: 18px; }
  .navbar {
    font-size: 1.2rem; }
  .drawer {
    display: block; }
  .nav-menu {
    display: none; } }

header {
  background: #f7f7f7;
  padding-top: 27vh;
  color: #252A34; }

.navbar {
  width: 100%;
  display: block;
  height: 15vh;
  position: relative;
  line-height: 15vh;
  background-color: #252A34;
  color: #f9f9f9; }
  .navbar .icon-bar {
    background-color: #f9f9f9; }

#get-started {
  background-color: #252A34;
  padding: 100px 0;
  display: block;
  color: #f9f9f9; }

.btn-red {
  color: #ff2e63;
  border-color: #ff2e63; }
  .btn-red a {
    color: inherit; }
  .btn-red:hover {
    color: white;
    background: #ff2e63;
    border-color: #ff2e63; }

.btn-green {
  color: #1B8057;
  border-color: #1B8057; }
  .btn-green a {
    color: inherit; }
  .btn-green:hover {
    color: white;
    background: #1B8057;
    border-color: #1B8057; }

.btn-blue {
  color: #1e90ff;
  border-color: #1e90ff; }
  .btn-blue a {
    color: inherit; }
  .btn-blue:hover {
    color: white;
    background: #1e90ff;
    border-color: #1e90ff; }
