doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Alpha Framework
    link(rel='stylesheet', href='css/style.css')
    link(rel='icon', href='img/alpha.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width; initial-scale = 1.0; \
    maximum-scale=1.0; user-scalable=no')
  body
    include templates/navbar.pug
    header.text-center
      .container.uppercase
        h1.animate.fadeIn Do Simple,
        h3.animate.fadeIn.delay Do Better.
        a(href='#get-started')
          button.btn.btn-default.center-block GET STARTED

    section#features
      .container
        h2.text-center Features
        .row
          .col-4.text-center
              i.fa.fa-heart.fa-5x(aria-hidden='true', title='Easy to use!')
              h3 Easy to use
              p.text-center
                | Build web pages with few commands. Great for beginners, Alpha is a great way to learn SASS, NodeJS and new ways to program javascript, like PugJS.
          .col-4.text-center
              i.fa.fa-edit.fa-5x(aria-hidden='true', title='Easily Customizable!')
              h3 Customizable
              p.text-center
                | The variables are centralized in a single file, allowing faster changes. We cherish by code reuse, we comment all the functions for a good learning curve.
          .col-4.text-center
              i.fa.fa-object-ungroup.fa-5x(aria-hidden='true', title='Made for all Screens!')
              h3 Flexible
              p.text-center
                | Responsive sites are the present and the future, learn with us with the best way, coding! Interested in helping us? 
                a(href='https://github.com/EliabeJr/alpha-framework/issues') See how

    section#why
      .container
        .row.middle
          .col-4.center-block
            img.img-center-resize(src='img/alpha-icon.png', alt='Alpha')
          .col-8
            div
              h2 Why Alpha?
              p.text-justify
                | Every time that we start a new project, we have to decide which framework to use or begin a new stylesheet, sometimes the 
                b simple
                |  it's the best. 
                b Alpha
                |  it's a simple framework CSS to build big things.

    section#get-started.text-center
      .container
        h2 We love the simple things.
        p#credits.text-center
          span 
            | Version 1.1.0
          span 
            a(href='#' title="In development") Documentation
          span 
            a(href='https://github.com/eliabejr/alpha-framework') Source Code
          span 
            | Created by 
          span 
            a(href='https://github.com/eliabejr') Eliabe Júnior
        a(href='https://github.com/eliabejr/alpha-framework/archive/master.zip')
          button.btn.btn-lg.btn-blue
            i.fa.fa-download
            | Download

    include templates/footer.pug