* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

img {
	border: 0;
}

body {
	overflow-x: hidden;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    @include construct-body();
}

a {
	color: $color-theme;
	text-decoration: none;
}

nav {
	list-style-type: none;
	display: inline;
}

header {
	display: block;
}

section {
	margin: 50px 0;
}

button {
	outline: 0;
	border: 3px;
	cursor: pointer;
	font-size: 1rem;
	background: transparent;
	transition: all .2s ease-in-out;
}

hr {
	border: 1px solid currentColor;
	width: 100%;
	display: block;
}

footer {
	bottom: 0;
	width: 100%;
	background: $bg-dark;
	padding: 10px 0;
	color: $text-white;
}

.full {
	width: 100%;
	height: 100vh;
	display: block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.center-block {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.right {
	float: right;
}

.left {
	float: left;
}

.top-buffer {
	padding-top: 50px;
}