* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

img {
	border: 0;
}

body {
	overflow-x: hidden;
    @include construct-body(#fff);
}

a {
	color: $color-theme;
	text-decoration: none;
}

nav {
	list-style-type: none;
	display: inline;
}

header {
	padding-top: (42vh-$navbar-height);
	margin-top: $navbar-height;
}

section {
	margin: 50px 0;
}

button {
	background: transparent;
	font-size: 1rem;
	transition: all .2s ease-in-out;
}

.full {
	width: 100%;
	height: 100vh;
	display: block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

.center-block {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.right {
	float: right;
}

.left {
	float: left;
}