.btn {
    border: 2px solid currentColor;
    padding: 15px;
    padding-top: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-blue {
	color: $blue;

	& a {
		color: inherit;

	}

	&:hover {
		color: white;
		background: $blue;
		border-color: $blue;
	}
}

.btn-red {
	color: $red;

	& a {
		color: inherit;

	}

	&:hover {
		color: white;
		background: $red;
		border-color: $red;
	}
}

.rounded {
	border-radius: 30px;
}