.item {
	background-color: $bg-dark;
	color: $text-white;
	padding: 10px;
}

.container {
	width: 85vw;
	margin: 0 auto;
}

.row {
	margin: 20px 0;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.col {
	position: relative;
	min-height: 1px;
	float: left;
	padding: 10px;
}

.no-gutter {
	padding: 0!important;
	position: relative;
	min-height: 1px;
	float: left;
}

@for $i from 1 through $total-col {
	.col-#{$i} {
		width: percentage($i/$total-col);
	}
}

@media (max-width: $mobile) {

	.col {
		padding-left: 0;
		padding-right: 0;
	}


	@for $i from 1 through $total-col {
		.col-#{$i} {
			width: 100%;
		}
	}

}


@media (min-width: $mobile + 1) and (max-width: $tablet) {

	@for $i from 1 through 4 {
		
		.col-#{$i} {
			width: 50%;
		}

		@if $i = 3 {
			.col {
				
				&:nth-child(2) {
					padding-right: 0;
				}

				&:first-child {
			        padding-left: 0;
				}

			  	&:last-child {
			        padding-left: 0;
			        padding-right: 0;
			        width: 100%;
				}
			}	
		}
	}

	@for $i from 5 through $total-col {
		
		

		.col-#{$i} {
	        padding-left: 0;
	        padding-right: 0;
		}

		.col-#{$i} {
			width: 100%;
		}
	}

}


@media (min-width: $mobile + 1) {
	.col {
		&:first-child {
	        padding-left: 0;
		}

	  	&:last-child {
	        padding-right: 0;
		}
	}
}