.navbar {
	top: 0;
}

.navbar li, .nav-menu ul {
	display: inline;
}

.nav-menu {
	font-family: sans-serif;
	display: inline;
}

.nav-menu a {
	text-decoration: none;
	transition:all .2s ease-in-out;
	padding: 10px 20px;

	&:hover {
		background: rgba(255,255,255,0.1);
	}

}

.brand {
	font-size: 2em;
	font-weight: 600;
	display: inline;
}