span, p {
	font-size: 1.1rem;
}

em {
    background-color: #efefef;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 3px;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 1.5rem;
}

.uppercase {
	text-transform: uppercase;
}